@import 'assets/CSS/colors.scss';

.page-container {
  height: 100vh;
  background-color: $background;

  .header {
    display: flex;
    padding: 0 16em;
    justify-content: space-between;

    .menu-items-container {
      color: $text;
      font-size: 16px;
    }
  }

  .body-tagline {
    font-size: 80px;
    color: $text;
    line-height: 0.95;
  }
}